<ion-header>
	<ion-toolbar color="primary">
  	<ion-buttons no-padding slot="start">
          <ion-back-button text="" defaultHref="/wallet"></ion-back-button>
       </ion-buttons>
        <ion-title>{{'AFFILIATE_AMOUNT' | translate }}</ion-title>
         <ion-list class="not_fic_icon" (click)="toggle()" slot="end" no-padding >
          <div [className]="user.notification_count > 0 ?'blink':''">
             <ion-icon id="notification-button" name="notifications" >  </ion-icon>  
             <ion-badge id="notifications-badge" color="primary" *ngIf="user.notification_count != null">{{user.notification_count}}</ion-badge>
          </div>
        </ion-list>

  </ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event.detail.value)" value="summary">
  <ion-segment-button value="summary">
    <ion-label>{{'SUMMARY' | translate}}</ion-label>
  </ion-segment-button>
  <ion-segment-button value="history">
    <ion-label>{{'HISTORY' | translate }}</ion-label>
  </ion-segment-button>
</ion-segment>
</ion-header>

<ion-content>
	<ion-grid *ngIf="affiliate_summary_err!=''">
    <ion-row>
	    <ion-col class="center_txt">
	    	<ion-img src="assets/img/rewards_offers.svg" class="share_icn"></ion-img><br>
	    	<p  class="error_message"> {{affiliate_summary_err}} </p>
	    </ion-col>
	</ion-row>
	</ion-grid>

	<div  *ngIf="affiliate_view">

	<ion-list class="walt_trans"  text-wrap lines="none" no-padding > 

          <ion-item   lines="none" *ngFor="let affiliate of affiliate_summary;" class="transhis">
            <ion-thumbnail slot="start">
              <img src="assets/imgs/affiliate.svg">
            </ion-thumbnail>
            <ion-label>
              <h4><b>{{'CONTEST' | translate }}: {{affiliate.contest_name}}</b></h4>
              <p>{{affiliate.match}}</p>
              <small>{{'FROM' | translate }}: {{affiliate.from}}</small>
            </ion-label>
            <div slot="end" class="font_14 right_txt">
              
              <h5 class="right_txt">
                <span *ngIf="affiliate.status == 'pending'" class="yellow">+{{affiliate.amount | currency:'INR'}}</span>
		    	<span *ngIf="affiliate.status == 'cancelled'" class="red">+{{affiliate.amount | currency:'INR'}}</span>
		    	<span *ngIf="affiliate.status == 'paid'" class="success_txt">+{{affiliate.amount | currency:'INR'}}</span></h5>
              <small>{{affiliate.date | date:'MMM d, y'}}</small>
            </div>
          </ion-item>
        </ion-list>

	<ion-infinite-scroll threshold="100px" (ionInfinite)="lazySummary($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
       </ion-infinite-scroll>
	</div>

	<ion-grid *ngIf="affiliate_history_err!=''">
    <ion-row>
	    <ion-col class="center_txt">
	    	<ion-img src="assets/img/rewards_offers.svg" class="share_icn"></ion-img><br>
	    	<p  class="error_message"> {{affiliate_history_err}} </p>
	    </ion-col>
	</ion-row>
	</ion-grid>


	<div  *ngIf="!affiliate_view">


	<ion-list class="walt_trans"  text-wrap lines="none" no-padding > 

          <ion-item   lines="none" *ngFor="let affiliate of affiliate_history;" class="transhis">
            <ion-thumbnail slot="start">
              <img [src]="affiliate.transaction_type == 'withdraw' ? 'assets/imgs/withdraw.svg':'assets/imgs/affiliate.svg' ">
            </ion-thumbnail>
            <ion-label>
              <h4><b>{{affiliate.transaction_type | titlecase}}</b></h4>
              <p>#{{affiliate.reference_id}}</p>
            </ion-label>
            <div slot="end" class="font_14 right_txt">
              
              <h5 [className]="affiliate.action == 'credit' ? 'success_txt' : 'red'">
                <span *ngIf="affiliate.action === 'credit'" > + </span>
              <span *ngIf="affiliate.action === 'debit'" > - </span>
              {{affiliate.amount|currency:'INR'}}</h5>
              <small>{{affiliate.date | date:'MMM d, y'}}</small>
            </div>
          </ion-item>
        </ion-list>

		<ion-infinite-scroll threshold="100px" (ionInfinite)="lazyHistory($event)">
    	<ion-infinite-scroll-content loadingSpinner="bubbles"
        loadingText="Loading more data...">
      	</ion-infinite-scroll-content>
       	</ion-infinite-scroll>
	</div>

</ion-content>
