.walt_trans { text-align:left;}
.transhis, .transhis span {text-align:left; display:inline-block; font-size:14px;line-height: 1.5;}
ion-back-button {font-size:22px; color:#ed3431;}

.walt_trans p {padding-bottom:0px; margin-bottom:0px; margin-top:5px;}
ion-back-button {font-size:22px; color:#fff;}
.coupon{background:aliceblue}
.coupon_code{border: 1px solid;background: yellow;padding: 5px 30px;}
ion-content{--background: #f0f0f0;}
ion-card{background: #fff;}