ion-content{
/*    --background: #2a2e43 url('../../../assets/img/bld.svg') no-repeat bottom;
    --padding-start:30px;
    --padding-end:30px;
    --padding-top:30px;
    --padding-bottom:30px;*/
}
ion-menu-button {font-size:22px; color:#ed3431;}
ion-title {color:#fff!important; padding-left:0px;
    font-size: 15px;}
ion-header, .toolbar-container {background-color: #2a2e43}
.toolbar-md-primary .toolbar-background-md {background:none; box-shadow:none;}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {background:none;}
.faqs {padding:25px; padding-bottom:60px; background:#fff; border-radius:6px;}
.faqs h1 {font-size:14px; margin-top:0px; font-weight:bold; padding-bottom:0px; margin-bottom:5px;}
.faqs p {font-size:14px; margin:0px; padding:0px; color:#5e5e5e; line-height:20px;}


ion-item {font-size:14px!important;}

.accordion-list {
  margin-bottom: 0px;
  --ion-item-background: #fff;
border-bottom:1px solid #f0f0f0;
  .section, .section-active {
    --min-height: 48px;
  }
}

.section {
  --ion-item-background: #fff;
  --ion-item-color: #000;
}
.section-active {
  --ion-item-background: #3a4565;
  --ion-item-color: #fff;
  font-weight: 600;

  ion-icon {
    color: #fff;
  }
}

.child-list {
  padding: 0;
  margin: 0;
  .child, .child-active {
    margin-bottom: 2px;
  }
}

.child {
  --ion-item-background: #e8e7e6;
  --ion-item-color: #000;
}

.child-active {
  --ion-item-background: #fad86b;
  --ion-item-color: #fff;

  ion-icon {
    color: #fff;
  }
}

.product-list {
  padding: 0;
  margin: 0;
}
app-questions {font-size:14px;}