ion-back-button {font-size:22px; color:#ed3431;}
.top_invite { margin:0px; box-shadow:none; border-radius:0px; }
.top_invite a {color:#fff!important;}
ion-card {box-shadow:none;}
#help-icon {right:20px;}
.shr{  font-size: 16px; padding-right: 5px;}
.count{ color: green;}
    .sc-ion-buttons-md-h {width:50px;color: #ed3431}
.msg_div {
    ion-col{
    background-color: rgba(156, 181, 181, 0.2);
    margin: 0px;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    color: #000000;
    cursor: pointer;

    }  

}
.fR{
  float: right;
}
.buttons{ion-button{width: 100%;}}
.font_14{font-size: 14px;}
.ioncard{background: none;}