<ion-content scroll="false" no-padding>
  <p>Welcome screen</p>
   <!-- <div class="login_img"> 
    <img src="assets/img/play_now.png" alt="Ant11 fantasy games" title="Ant11 fantasy games"> 
   </div>
   <div class="login_btn">
    <ion-button  color="whitebutton" routerLink="/login" routerDirection="forward" class="login">{{ 'LOGIN' | translate }} </ion-button>
  </div>
  <div class="regist_blk">
    <p> {{ 'NO_ACCOUNT'| translate }} </p>
    <a  routerLink="/signup" routerDirection="forward" outline class="signup">{{ 'SIGNUP' | translate }}</a>
   </div> -->
</ion-content>