.signup {padding: 20px;font-size: 14px;
	color:#ED3833;text-decoration:underline;text-transform: uppercase;display: block;}

ion-button.login { margin: 0px 5px;height: 34px;width:130px;--box-shadow: none;}
.regist_blk {padding-top:30px; text-align:center;}
.regist_blk p {margin:0px;}
.button-md {margin-top: 25px; background:#ed3431; width:130px;}
.clr_r {color:#ed3431;}
.login_img {background:#d11d39; text-align:center;}
.primary_btn{margin: 10px auto;width: 90%;}
.login_img img {width:100%; display:block;}
.login_btn {text-align:center; margin-top:-50px;}