#inbox-list{background: none;}



.menu{
	    --background: #3a4565;color: #fff;

	   ion-item{--background: #3a4565;color: #fff;}

	   ion-avatar{background: #fff;}
	   .user{margin: 10px 0px 0px 30px;}
	   .follow{span{color: #d1d1d1;padding-left: 10px;font-weight: 400;}
	           ion-label{font-weight: 600;}}

	          ion-item-group{
	          	ion-item-divider{--background: #2b344c;;color: #fff;}
	           }

	 }


