/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.modal-wrapper
{
    background: transparent !important;
}

.searchbar-input-container
{
       // padding-left: 10px !important;
}


ion-title 
{
    font-family: 'AvenirH' !important;
    span
    {
        color: #77869E !important;
        font-family: 'AvenirR' !important;
        font-size: .9rem !important;
    }
}


ion-button
{
    --border-radius: 0.5rem;
    font-family: 'AvenirH' !important;
    text-transform: none !important;
}

.absolute
{
    left: 0;
    position: absolute;
    right: 0;
}

.the-title
{
    h2{
        font-family: 'AvenirH' !important;
        margin-top: 0 !important;
    }

    h3{
        color: #042C5C;
        font-family: "AvenirH" !important;
        font-size: 1.25rem;
        margin-top: 0 !important;

    }
}


form
{
    .details
    {
        .detail-item
        {
            --highlight-color-invalid:red;
            --highlight-color-valid: #2AD95A;

            margin: 1rem 0 !important;

            ion-label
            {
                color: #77869E !important;
                font-family: 'AvenirR' !important;
                font-size: .9rem !important;
            }

            .icn-holder
            {
                ion-icon
                {
                    color: #2AD95A !important;
                    font-size: 1.5rem !important;
                }
            }

            ion-input
            {
                font-family: 'AvenirM' !important;
            }
        }

        .col-forgot
        {
            p{
                font-family: 'AvenirH' !important;
                font-size: 0.9rem !important;
                color: #3a4565 !important;
            }
        }

        .agreement-holder
        {
            ion-item
            {
                ion-checkbox
                {
                    margin-right: 10px !important;
                }
                ion-label
                {
                    color: #77869E !important;
                    font-family: 'AvenirR' !important;
                    font-size: 0.9rem !important;
                }
            }
        }

        #remember-holder
        {
            ion-label
            {
                color: #77869E !important;
                font-family: 'AvenirR' !important;
                font-size: 0.9rem !important;
            }
        }

      

        ion-checkbox
        {
            margin-right: 5px !important;  
        }


        .error-messages
        {
            color: red;
            font-size: 0.7em;
            margin-top: 10px;
            text-align:center;
        }
      
    }

    .btn-holder
    {
        ion-button
        {
            height: 3rem !important;
        }
    }
}

.signup-holder
{
    margin-top: 20px;

    p
    {
    color: #77869E;
    font-family: 'AvenirR' !important;

        span
        {
            color: #042C5C;
            font-family: 'AvenirH' !important;
            font-weight: bolder !important;
           
        
        }
    }
}

.ngx-gauge-meter
{
    height: 250px !important;

    .reading-block
    {
        font-family: 'AvenirB' !important;
    }

    .reading-label
    {
        color: #77869E !important;
        font-family: 'AvenirH' !important;
    }
}

.segments-holder 
{
    padding: 0 10px !important;
    ion-segment
    {
        ion-segment-button
        {
            --background-checked: #DFE7F5;
            font-family: 'AvenirH' !important;
            font-size: 0.8rem !important;
            min-height: 3rem !important;
            ion-label {
                margin: 0 !important;
            }
            //margin: 0 10px !important;
        }
    }
}

.details {
    h3 
    {
        color: #042C5C;
        font-family: 'AvenirH' !important;
        font-size: 1.25rem;
        margin-top: 0 !important;
    }

    .the-list {

        ion-item
        {
            margin: 10px 0 !important;
            
            ion-label
            {
                h4
                {
                    color: #042C5C !important;
                    font-family: 'AvenirH' !important;
                
                }

                p
                {
                    color: #77869E !important;
                    font-family: 'AvenirR' !important;
                
                }
            }

            h5 {
                color: #ee5a55 !important;
                font-family: 'AvenirH' !important;
            }
        }
    }
}

.cat-holder
{
   overflow-x: scroll !important;
   overflow-y: hidden !important;
   white-space: nowrap !important;
   &::-webkit-scrollbar
   {
     display: none !important;
    }
   ion-radio-group
   {
     .rad-item
     {
         margin: 0 10px !important;
         width: 70px;
        display: inline-block !important;
        ion-item
        {
            --min-height:70px;
            --border-radius:50% !important;
            ion-radio
            {
                opacity: 0 !important;
            }
        }
     }
       
    }

    .item-radio-checked
    {
    --background: #dfe7f5 !important;
    --color:var(--ion-color-primary) !important;
    }
}

.ion-color-background {
--ion-color-base: var(--ion-color-background) !important;
--ion-color-base-rgb: var(--ion-color-background-rgb) !important;
--ion-color-contrast: var(--ion-color-background-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-background-shade) !important;
--ion-color-tint: var(--ion-color-background-tint) !important;
}

.ion-color-background2 {
--ion-color-base: var(--ion-color-background2) !important;
--ion-color-base-rgb: var(--ion-color-background2-rgb) !important;
--ion-color-contrast: var(--ion-color-background2-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-background2-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-background2-shade) !important;
--ion-color-tint: var(--ion-color-background2-tint) !important;
}

.ion-color-background3 {
--ion-color-base: var(--ion-color-background3) !important;
--ion-color-base-rgb: var(--ion-color-background3-rgb) !important;
--ion-color-contrast: var(--ion-color-background3-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-background3-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-background3-shade) !important;
--ion-color-tint: var(--ion-color-background3-tint) !important;
}


.ion-color-mainbutton {
--ion-color-base: var(--ion-color-mainbutton) !important;
--ion-color-base-rgb: var(--ion-color-mainbutton-rgb) !important;
--ion-color-contrast: var(--ion-color-mainbutton-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-mainbutton-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-mainbutton-shade) !important;
--ion-color-tint: var(--ion-color-mainbutton-tint) !important;
}
.ion-color-redbutton {
--ion-color-base: var(--ion-color-redbutton) !important;
--ion-color-base-rgb: var(--ion-color-redbutton-rgb) !important;
--ion-color-contrast: var(--ion-color-redbutton-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-redbutton-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-redbutton-shade) !important;
--ion-color-tint: var(--ion-color-redbutton-tint) !important;
}
.ion-color-whitebutton {
--ion-color-base: var(--ion-color-whitebutton) !important;
--ion-color-base-rgb: var(--ion-color-whitebutton-rgb) !important;
--ion-color-contrast: var(--ion-color-whitebutton-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-whitebutton-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-whitebutton-shade) !important;
--ion-color-tint: var(--ion-color-whitebutton-tint) !important;
}
.ion-color-ioninput {
--ion-color-base: var(--ion-color-ioninput) !important;
--ion-color-base-rgb: var(--ion-color-ioninput-rgb) !important;
--ion-color-contrast: var(--ion-color-ioninput-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-ioninput-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-ioninput-shade) !important;
--ion-color-tint: var(--ion-color-ioninput-tint) !important;
}
.ion-color-blackioninput {
--ion-color-base: var(--ion-color-blackioninput) !important;
--ion-color-base-rgb: var(--ion-color-blackioninput-rgb) !important;
--ion-color-contrast: var(--ion-color-blackioninput-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-blackioninput-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-blackioninput-shade) !important;
--ion-color-tint: var(--ion-color-blackioninput-tint) !important;
}

.ion-color-ionitem {
--ion-color-base: var(--ion-color-ionitem) !important;
--ion-color-base-rgb: var(--ion-color-ionitem-rgb) !important;
--ion-color-contrast: var(--ion-color-ionitem-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-ionitem-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-ionitem-shade) !important;
--ion-color-tint: var(--ion-color-ionitem-tint) !important;
}
.ion-color-ionitem2 {
--ion-color-base: var(--ion-color-ionitem2) !important;
--ion-color-base-rgb: var(--ion-color-ionitem2-rgb) !important;
--ion-color-contrast: var(--ion-color-ionitem2-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-ionitem2-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-ionitem2-shade) !important;
--ion-color-tint: var(--ion-color-ionitem2-tint) !important;
}
.ion-color-ionitem3 {
--ion-color-base: var(--ion-color-ionitem3) !important;
--ion-color-base-rgb: var(--ion-color-ionitem3-rgb) !important;
--ion-color-contrast: var(--ion-color-ionitem3-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-ionitem3-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-ionitem3-shade) !important;
--ion-color-tint: var(--ion-color-ionitem3-tint) !important;
}
.ion-color-ionitem4 {
--ion-color-base: var(--ion-color-ionitem4) !important;
--ion-color-base-rgb: var(--ion-color-ionitem4-rgb) !important;
--ion-color-contrast: var(--ion-color-ionitem4-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-ionitem4-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-ionitem4-shade) !important;
--ion-color-tint: var(--ion-color-ionitem4-tint) !important;
}
.ion-color-ioncard {
--ion-color-base: var(--ion-color-ioncard) !important;
--ion-color-base-rgb: var(--ion-color-ioncard-rgb) !important;
--ion-color-contrast: var(--ion-color-ioncard-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-ioncard-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-ioncard-shade) !important;
--ion-color-tint: var(--ion-color-ioncard-tint) !important;
}
.ion-color-blackioncard {
--ion-color-base: var(--ion-color-blackioncard) !important;
--ion-color-base-rgb: var(--ion-color-blackioncard-rgb) !important;
--ion-color-contrast: var(--ion-color-blackioncard-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-blackioncard-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-blackioncard-shade) !important;
--ion-color-tint: var(--ion-color-blackioncard-tint) !important;
}

.ion-color-ioncard3 {
--ion-color-base: var(--ion-color-ioncard3) !important;
--ion-color-base-rgb: var(--ion-color-ioncard3-rgb) !important;
--ion-color-contrast: var(--ion-color-ioncard3-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-ioncard3-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-ioncard3-shade) !important;
--ion-color-tint: var(--ion-color-ioncard3-tint) !important;
}
.ion-color-ioncard4 {
--ion-color-base: var(--ion-color-ioncard4) !important;
--ion-color-base-rgb: var(--ion-color-ioncard4-rgb) !important;
--ion-color-contrast: var(--ion-color-ioncard4-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-ioncard4-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-ioncard4-shade) !important;
--ion-color-tint: var(--ion-color-ioncard4-tint) !important;
}
.ion-color-itemdivider {
--ion-color-base: var(--ion-color-itemdivider) !important;
--ion-color-base-rgb: var(--ion-color-itemdivider-rgb) !important;
--ion-color-contrast: var(--ion-color-itemdivider-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-itemdivider-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-itemdivider-shade) !important;
--ion-color-tint: var(--ion-color-itemdivider-tint) !important;
}
.ion-color-matchioncard {
--ion-color-base: var(--ion-color-matchioncard) !important;
--ion-color-base-rgb: var(--ion-color-matchioncard-rgb) !important;
--ion-color-contrast: var(--ion-color-matchioncard-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-matchioncard-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-matchioncard-shade) !important;
--ion-color-tint: var(--ion-color-matchioncard-tint) !important;
}
.ion-color-homeslide {
--ion-color-base: var(--ion-color-homeslide) !important;
--ion-color-base-rgb: var(--ion-color-homeslide-rgb) !important;
--ion-color-contrast: var(--ion-color-homeslide-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-homeslide-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-homeslide-shade) !important;
--ion-color-tint: var(--ion-color-homeslide-tint) !important;
}
.ion-color-tabs {
--ion-color-base: var(--ion-color-tabs) !important;
--ion-color-base-rgb: var(--ion-color-tabs-rgb) !important;
--ion-color-contrast: var(--ion-color-tabs-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-tabs-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-tabs-shade) !important;
--ion-color-tint: var(--ion-color-tabs-tint) !important;
}
.ion-color-fullbackground {
--ion-color-base: var(--ion-color-fullbackground) !important;
--ion-color-base-rgb: var(--ion-color-fullbackground-rgb) !important;
--ion-color-contrast: var(--ion-color-fullbackground-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-fullbackground-contrast-rgb) !important;

}


// custom styles
.round{border-radius: 100%}
.center_txt{text-align: center;}
.right_txt{text-align: right;}
.left_txt{text-align: left;}
.center_div{margin: 0px auto}
.right_div, .fR{float: right;}
.left_div, .fL{float: left;}
.margin_top_60_{margin-top: -60px} 


form{
	ion-item{
	--padding-start	:0px;
	}
	.hidden{display: none;}
}
.toaster_alert{
	--start	:0px;
	--end:0px;
	--top:0px;
	margin-top: -10px;
	--background: #FFF;
	--color:#000;
	--border-radius:0px;
}
.success_toaster_alert{
	--start	:0px;
	--end:0px;
	--top:0px;
	margin-top: -10px;
	--background: #008000;
	--color:#FFF;
	--border-radius:0px;
	--button-color: #FFF;
}
.warning_toaster_alert{
	--start	:0px;
	--end:0px;
	--top:0px;
	margin-top: -10px;
	--background: #FFA500;
	color:#FFF;
	--border-radius:0px;
	--button-color: #FFF;
}
.error_toaster_alert{
	--start	:0px;
	--end:0px;
	--top:0px;
	margin-top: -10px;
	--background: #ED3833;
	--color:#FFF;
	--border-radius:0px;
	--button-color: #FFF;
}
.err_msg{
  margin: 5px 0px;
  color: #D23839;
  font-size: 12px;
  display: block;
}

// .custom_alert_class{
	.alert-head{
		text-align: center!important;
	}
// }
.loading-wrapper {
width: 80px !important;
background: url(assets/images/loading.gif) -109px -70px no-repeat !important;
background-size: 300px !important;
height: 80px !important;
border-radius: 100% !important;
}
.passwordIcon{
	padding-top: 15px;
}

@font-face {
   font-family: 'Arista';
   src: url('/assets/fonts/Arista_Alternate_light.ttf');
   font-weight: 200;
   font-style: normal;
 }
 body {
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important;
}



.user_with_bal{
  background:transparent;
  text-align: center;
  // font-weight: bold;
      // margin-right: 10px;
      color: #fff;
    margin-top: 3px;
    margin-right: 3px;
    font-size: 12px;
    color: #fff;
    // padding: 0px;
    // margin: 0px;
    span{
      font-size: 8px;
    }
    ion-icon{font-size: 8px;margin-bottom: -1px;}
}
.header-ios ion-toolbar:last-child {
   --border-width: 0 0 0 0px;
}
.team_names_in_title{
  background: transparent;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-top: 5px;
  margin-right: 5px;
  .timer{
    font-size: 8px;
  }
}
ion-row{
  outline: 0px;
}
.textcolor1{color: #6DD466;ion-icon{
    font-size: 14px!important;
    color: #6DD466!important;
    margin-bottom: -3px;
  }}
  .textcolor2{color:  #F19933;ion-icon{
    font-size: 14px!important;
    color: #F19933!important;
    margin-bottom: -3px;
  }}
  .textcolor3{color: #E93F33;ion-icon{
    font-size: 14px!important;
    color: #E93F33!important;
    margin-bottom: -3px;
  }}

.contest_name{
  color: #424141;
  font-size: 14px;
  font-weight: 400;
}
.text_decoration{text-decoration: none;}

.gm-style-cc {
        display: none !important;
    }

    .gm-style a[href^="https://maps.google.com/maps"] {
        display: none !important;
    }
    .alert-sub-title{
      padding: 5px;
        text-align: center!important;
    }
    .alert-md .alert-head {
      text-align: left;
      text-align: start;
      padding: 5px;
  }
  .alert-md .alert-title {
      font-size: 18px;
      font-weight: normal;
  }
.menu_strip{
  padding: 10px;
  background: #000;
}
ion-menu-toggle ion-icon { color: #fff!important; }
ion-badge {      display: block;
    padding: 0px;
    left: 17px;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0px;
    background: orange;
    color: #fff;
    font-size: 11px;}

.profile_img{ width: 45px;margin-left: 15px;height: 45px;background-color: #f8f8f8;border-radius: 50%;}
.profile{text-align: left; float:left; max-width: 80px;overflow: hidden;outline: none;}




.menu_title {border-color:#f7f7f7!important;font-size: 20px!important;color:#fff!important;margin-left: 10px!important}
.toolbar-md-primary .toolbar-background-md {background:none; box-shadow:none;}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {background:none;}

ion-back-button {font-size:22px;}
ion-title {padding-left:0px;font-size: 15px;}

// ion-header, .toolbar-container {background-color: #2a2e43}

alert-checkbox-label.sc-ion-alert-md {
white-space: pre-line!important;
}
.sc-ion-alert-ios-h {
    --background: var(--ion-overlay-background-color,var(--ion-color-step-100,#fff));
}
.alert-wp .alert-radio-label{ white-space: pre-line!important;}
.sc-ion-alert-md-h{
   --min-width: 307px;
}

.alert-tappable.sc-ion-alert-md
{
contain:none;
}
.alert-tappable.sc-ion-alert-md {
   min-height: 48px;
   height: auto;
}
.alert-radio-label.sc-ion-alert-md {
white-space: pre-line!important;
}
.center_txt{
    text-align: center;
}
ion-icon.sc-ion-back-button-md {font-size:18px!important;}
ion-title1, ion-menu-button {color:#fff!important;}
ion-menu-button {font-size:22px!important;}
ion-menu-toggle ion-icon {font-size:22px!important;}
// ion-header ion-toolbar {--background:#ED3833; background:#ED3833}
ion-header ion-buttons[_ngcontent-c4] {
    color: #fff;
}
.alert_succ_img {
    .alert-message.sc-ion-alert-md {
    max-height: 240px;
    font-size: 16px;
    width: 201px;
    height: 80px;
    margin-left: 58px;

} 
.alert-title.sc-ion-alert-md{
        font-size: 14px;
    }
} 
ion-menu-button {
    color: #fff !important;
}
.hidden{display: none!important;}
.alert-head.sc-ion-alert-md {text-align:center;}

.alert_fail_img{
  .alert-message.sc-ion-alert-md {
   // max-height: 240px;
    font-size: 16px;
    width: 180px;
    margin:0px auto;
    // height: 80px;
    margin-left: 60px;
    
      // animation: heartbeat 1.5s infinite;
    } 
    .alert-title.sc-ion-alert-md{
        font-size: 18px;
    margin-bottom: 30px;
    } 
}
.width_100{
  margin: 0px auto;
  width: 100px;
}
.warning_div{
   margin: 10px;
   small{color: #575353}
   .cup_icn{width: 150px;margin: 15px auto;}
   ion-button{margin-top: 10px;}

}
@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  10%
  {
    transform: scale( 1 );
  }
   20%
  {
    transform: scale( .75 );
  }
  30%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.play_table{
    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }
    tr:hover {background-color: #f5f5f5;}

}
#help-icon {            
    /*position: absolute;*/
    /*top:18px;*/
    border-radius:100%;
    float:right;
    /*right: 62px;*/
    overflow: visible!important;
    font-size: 21px;
    color:#fff;
}
.not_fic_icon {    font-size: 22px;
    color: #fff;
    margin-right: 10px;
     padding-right: 10px!important;
    padding-left: 5px;
    margin-left: 5px;
    background: none;
    padding-top: 5px;}
.center_txt{
    text-align: center;
}
.bottom_line{
    border-bottom: 1px solid #ccc;
}
.wallet_balance{
  font-size: 10px;
    font-weight: bold;
}
.join_contest_alert{
    .sc-ion-alert-ios{
     .secondary{right: 0px;min-width: 0%;}
   }
    .main{
        background-color: #448948;
        color: #fff;
        margin: 0px auto;
        padding: 5px 20px;
        border-radius: 5px;
    }
    .coupn{
       background-color: #fff;
    color: #fff;
    /* margin: 0px auto; */
    padding: 0px 0px!important;
    border-radius: 50px;
    --border-radius: 50px;
    font-size: 11px;
    --padding: 0px;
    --background: none;
    color: #3a4565;
    border: 1px solid #AAA;
    --box-shadow: none;
    height: 29px;
    font-weight: bold;
    }
    .secondary{
        position: absolute;
        top: 0px;
    }
}
.red{color: #ed3835;}
.yellow{color:rgb(255, 211, 26)}

.success_txt{
    color: #72DD62
}
.tc_txt{
    font-size: 10px;
    line-height: 10px;
}
.right_txt{
    text-align: right;
}
.left_txt{
    text-align: left;
}


.alert-message.sc-ion-alert-md {
    max-height: 418px;
    font-size: 14px;
    line-height: 1.5;
    }
.bg_red {background:#ED3833;}
.bg_blue {background:#2f82b7;}

.toaster_alert{
  // text-transform:;
  font-size: 16px;
  color: #000;
  background: rgba(0,0,0,0.2);
}
.logo_in_form{margin: auto;width: 100%;margin-top:3px;}
.logo_in_form1{margin: auto;width: 30%;margin-top:3px;}

.txt_red{color:red}

.list_bg{background:none}

.ion-segment-button {--border-radius:0px!important;}
.version_txt{    font-size: 14px!important;
    text-align: center!important;
    color: #8c8585!important;}



// Swiper


 .alpha_Blk {position:fixed; background:rgba(0,0,0,0.5); width:100%; bottom:0px; height:0%; left:0px; z-index:3339; overflow:hidden;}
.show_swipe {height:100%;   
-webkit-animation: mymove 0.2s; /* Safari 4.0 - 8.0 */
  animation: mymove 0.2s;}
  .hide_swipe {height:0%;   
-webkit-animation: hide_alpha 0.2s; /* Safari 4.0 - 8.0 */
  animation: hide_alpha 0.2s;}
.sw_blk {width:100%; position:absolute; bottom:0px; left:0%; background:#fff; padding:0px; box-sizing:border-box;}
.show_swipe .sw_blk {bottom:0px; webkit-animation: swpmove 0.2s; /* Safari 4.0 - 8.0 */  animation: swpmove 0.2s;}
.hide_swipe .sw_blk {bottom:-100%; webkit-animation: swphid 0.3s; /* Safari 4.0 - 8.0 */  animation: swphid 0.3s;}
.swip_hdr {width:100%; padding:15px; box-sizing:border-box; background:#d11d39; color:#fff; position:relative; text-align:center; font-size:14px; font-weight:bold;}
.swipe_close {position: absolute;
    top: 17px;
    left: 15px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    text-transform: capitalize;}
.swip_cnt{
  background: #f4f4f4;
  ion-list {padding:7px 5px; border-bottom:1px solid #f0f0f0;margin: 4px 5px 3px 5px;}
  span{font-size: 14px;}
  .active{color: #008000;}
  .linesup{color: #7b7b7b;font-weight: 500;padding:10px;}
  .pad{padding: 6px;text-transform: capitalize;}
  .fR{float: right;}
  .font-20{font-size: 19px;}
} 
.swipe_note {padding:0px 15px; box-sizing:border-box; font-size:13px; line-height:20px; height:0px; transition:all linear 0.2s; overflow:hidden;}
.swipe_up {height:130px; padding:10px 15px; }
.swipe_down {height:0px;}
// Swiper
@media (min-width:360px) {
  .player_name{width: 81px!important;}
  .play_btn{margin-left: 5px!important;}
  .team_logo{width: 35px;}
  .dfl_match{width: 35px!important;height: 35px!important}
}
@media (min-width:375px) {
  .player_name{width: 81px!important;}
  .play_btn{margin-left: 20px!important;}
  .team_logo{width: 30px!important;}
  .dfl_match{width: 30px!important;height: 30px!important}
}
@media (min-width:320px) {
  .player_name{width: 65px!important;}
  .play_btn{margin-left: 10px!important;}
  .team_logo{width: 35px;}
  .dfl_match{width: 35px!important;height: 35px!important}
}
@media (min-width: 410px){
.play_btn {
    margin-left: 27px !important;
  }
}


/* ios fixes start */
ion-col{outline: 0px;}
ion-label{outline: 0px;}
.not_fic_icon {margin-block-end:0px!important; position:relative;}
ion-header ion-badge {line-height:15px;}
ion-segment-button[_ngcontent-fpk-c4] {
min-height: 38px;
border: none;
}
ion-title.ios {padding-left:50px!important;}
ion-back-button.ios {font-size:15px!important;}
ion-title.ios {text-align:left;}
// .sc-ion-card-ios-h {margin-top:0px!important; margin-bottom:0px!important;}
.segment_div ion-segment-button.ios {padding:10px 0px;}
.slt_box.ios {padding-right:10px;}
ion-segment-button {border:none;}
.segment-button-indicator {display:none!important;}
ion-segment-button { --indicator-color: transparent !important; --indicator-color-checked: transparent !important;}
.segment-button-checked {border-bottom:2px solid #ED3833; background:none;}

.ios
 {
  .segment-button-checked{color:#ED3833;font-weight: 700;text-transform: uppercase;}
  .list-ios{margin-bottom: 0px;}
  .match .sc-ion-card-ios-h {margin-top:10px!important; margin-bottom:10px!important;}
  .arrow-dropright{display: none;}
  .swiper-pagination-bullets{bottom: 0px;}
  ion-icon[name="arrow-dropright"]{
    display: none;

  }
  .item-has-focus.ion-invalid {
       --highlight-background: #f04141;

     --border-color: #f04141;
   }

  .ion-valid {
     --highlight-background: #10dc60;

     --border-color: #10dc60;
  }
   .custom-item {
     --background: #f0f0f0;
     --background-focused: transparent;
  }



 }
.ion-title.title-ios {position:relative!important;}
.sc-ion-back-button-ios-s {font-size: 13px; color: #fff!important; width: 50px;}
/* ios fixe end */
.fR{
  float: right;
}
.fL{
  float: left;
}
.top_margin{
  margin-top: 15px;
}
.top_10_margin{
  margin-top: 10px;
}
.top_8_margin{
  margin-top: 8px;
}
.header-ios
{
  .top_margin{
  margin-top: 0px;
}


}
.timer{display: block;font-weight: bold;padding: 3px 0px;font-size: 12px;}
.stars { height:27px; line-height:20px; font-size:50px; color:#fff; max-width:16.6%; width:16.6%;
   animation: rotation 0.2s infinite cubic-bezier(0.31, 0.26, 0.75, 0.72);}
   @keyframes rotation {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(359deg);
 }
}
// #notifications-badge{
//   background-color: #0ec254;
//     animation:blinkingText 0.8s infinite;
//     color: #fff;
// }
// @keyframes blinkingText{
//     0%{     box-shadow: 1px 2px 4px rgba(10, 228, 17, 0.09) ;border:0px}
//     49%{   box-shadow: 1px 2px 4px rgba(10, 228, 17, 0.20) }
//     50%{    box-shadow: 1px 2px 4px rgba(10, 228, 17, 0.50) }
//     99%{    box-shadow: 1px 2px 4px rgba(10, 228, 17, 0.70) }
//     100%{   box-shadow: 1px 2px 4px rgba(10, 228, 17, 1);border: 1px solid rgba(10, 228, 17, 1)}
// }
.lineups_out{
    color: #178107;
    b{
      font-weight: bold;
    }
    font-weight: bold;
    float: right;
    font-size: 12px!important;
    ion-icon{
      margin-bottom: -1px;
    }

}
.friend_card
{
 .sc-ion-card-ios-h{margin-top: 10px !important;margin-bottom: 10px !important;}
}

.blink {
     animation: blink 2s steps(5, start) infinite;
     -webkit-animation: blink 1s steps(5, start) infinite;
   }
   @keyframes blink {
     to {
       visibility: hidden;
     }
   }
   @-webkit-keyframes blink {
     to {
       visibility: hidden;
     }
   }


    .err_msg{
  margin: 5px 0px;
  color: #D23839;
  font-size: 12px;
  display: block;
}