<app-headerone [title]="'VERIFY_OTP' | translate" [backpath]="'/login'"></app-headerone>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col size="11" class="center_div center_txt">
				<h5>{{ 'Mobile_Verification' | translate }}</h5>
				<p class="dnt_w">{{ 'OTP_TEXT' | translate }}</p>
			</ion-col>
		</ion-row>
			
		<ion-row  (click)="change_num()" *ngIf="need_to_update_phone==true">
			<ion-col size='11' class="center_div mobileNumber" >
				<span class="dnum"> {{last}}</span>
      			<span class="edit_icn"> <ion-icon name="create" ></ion-icon> </span>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size='11' class="center_div">
				<form [formGroup]="otpForm" (ngSubmit)="verifyotp()">
				<ion-list no-padding>
			      <ion-item>
			        <ion-label position="floating">{{ 'ENTER_OTP' | translate }}</ion-label>
			        <ion-input type="text" formControlName="otp" name='otp'></ion-input>
			      </ion-item>
			      <span class="err_msg">{{valid_fun('otp')}}</span>
			  	</ion-list>
			  	<ion-button expand="block" color="primary" type="submit">{{ 'VERIFY_BUTTON' | translate }}</ion-button><button  type="submit" class="hidden"></button>
			    </form>
			</ion-col>
		</ion-row>
	</ion-grid>

	<div class="res_otp">
      <a  (click)="resendOtp()" *ngIf="hidevalue==true">{{ 'RESEND_OTP' | translate }}</a>
      <p *ngIf="hidevalue==false" class="bg">{{'OTP_WILL_EXPIRES_IN' | translate}} {{clockDisplay}}</p>

    </div>
    
</ion-content>
